:root {
  font-family: "Frank Ruhl Libre", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  color: #1a1a1a;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html, body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #bbbbb7;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  z-index: 0;
}

.ui-front {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1;
}

.threeview {
  top: 0;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.threeview.hidden {
  top: -100%
}

.title-block {
  color: #1a1a1a;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 0.5rem;
  margin-left: 2rem;
  z-index: 2;
  cursor: pointer;
}

.content-panel {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-self: center;
  justify-self: center;
  left: 25%;
  top: 10%;
  width: 50%;
  min-width: 600px;
  padding: 3rem;
  border-radius: 1rem;
  background-color: #dddddd;
  box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem #1a1a1a80;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.content-panel p {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 14pt;
}

.content-panel.hidden {
  top: 100%;
}

.content-titlebar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-button {
  cursor: pointer;
}

.social-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.nav-target {
  position: absolute;
  border-style: solid;
  border-color: #1a1a1a;
  border-width: 1px;
  border-radius: 50%;
  z-index: 2;
  transition: all 250ms cubic-bezier() ;
  -webkit-transition: all 250ms cubic-bezier() ;
  -moz-transition: all 250ms cubic-bezier() ;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
